@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: montserrat, sans-serif;

}

.Home-page {
    text-align: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    background-color: #ffff;
    height: 1000px;
}
.footers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
footer .footers .logo-img {
    height: 250px;
    width: 250px;
}
.home-signup {
    display: flex;
    justify-content: center;
    height: 750px;
    width: 40%;
    margin: 20px 0 50px 410px;
    box-shadow: 0 0 40px #dee1e6;
    border-radius: 5px;
    background-color: #ffff;
}
.signin-title a {
    text-decoration: none;
    padding-left: 5px;
    color: #00a3ff;
}
.signin-title h3 {
    color: #616161;
    padding-top: 10px;
    
}
.about-us a {
    display: inline;
    justify-content: center;
    text-decoration: none;
    bottom: 0;
    // padding-left: 10px;
    margin-left: 15px;
}
.about-us {
    padding-left: 50px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    display: flex;
    position: relative;
    height: 60px;
    width: 60px;
    padding-right: 10px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 90px;
}

.signin-title {
    padding-left: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.user-guide {
    align-items: center;
    padding-top: 20px;
    background-color: #f8f5ff;
    width: 400px;
    height: 90px;
    margin-bottom: 30px;
}
.credetials p {
    color: #7239ed;
    display: inline-block;
    word-wrap: normal;
    
}
.form-input {
    margin-bottom: 15px;
}
.form-group a {
    text-decoration: none;
}
.form-group label {
    text-align: start;
}
input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}
form .form-input .form-group {
    display: block;
    width: 400px;
    margin-bottom: 15px;
}
.form-input .form-group label {
    display: block;
    align-items: flex-start;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.4s;
}
.form-input .form-group:focus-within label {
    color: #FE4880;
}
form .form-input .form-group input {
    display: block;
    width: 100%;
    padding: 12px 17px;
    background-color: #F8F8F8;
    border-radius: 5px;
    transition: 0.4s;
}
form .form-input .form-group input:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
form .form-input input[type="submit"]{
    display: inline-block;
    background-color: #00a3ff;
    width: 400px;
    padding: 12px 17px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}
.others {
    display: inline;
    align-items: center;
    justify-content: center;
    
}
.separator p {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
}

.other-options .ggl {
    align-items: center;
    width: 400px;
    background-color: #F8F8F8;
    border-radius: 5px;
    display: flex;
    margin-bottom: 15px;
    
}
.other-options .ggl a {
    display: inline-block;
    padding: 12px 17px;
    border-radius: 5px;
    text-decoration: none;
    color: #616161;
}
.others .other-options .logo-image {
    padding-left: 80px;
    
}
.others .other-options .logo-image img {
    height: 20px;
    width: 20px;
}

    

